@CHARSET "UTF-8";

html {
	background-color:black;
}


.titleimg {
    #background-image: url("../title.png");
    #background-repeat: repeat-x;
} 

.caption1 {
	top:10;
	left:20;
	position:absolute;
	
	color:white;
	font-size: 5em;
	font-family: Helvetica, Arial, sans-serif;
}

.caption2 {
	bottom:10px;
	right:10px;
	position:absolute;
	text-align:right;
	
	color:white;
	font-size: 4em;
	font-family: Helvetica, Arial, sans-serif;
}

.titlepart{
	position:relative;
	background-image: url("../title.png");
	background-repeat: repeat-x;
}

.selectedmenuitem {
	font-style: italic;
	font-weight: bold;
	color:yellow;
}

.menupart {
	border-top:1px solid MintCream;
	border-bottom:1px solid MintCream;
	background-color:black;
}

.mainmenu li *:hover {
	color:red;
}

.mainmenu {
	text-align:justify;
	width:90%;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	color:white;
}

.mainmenu li a{
	color:white;
	text-decoration: none;
}

.mainmenu:after {
    content: '';
    display: inline-block;
    width: 100%;
}
.mainmenu:before {
    content: '';
    display: block;
    margin-top: -1.25em;
}
.mainmenu li{
    display: inline-block;
    margin-right: -.25em;
    position: relative;
    top: 1.25em;
}

.footer {
	text-align:right;
}

.footer a {
	background-color:black;
	text-decoration: none;
	padding-right: 5%;
	font-family: Helvetica, Arial, sans-serif;
	color:gray;
	font-size: 0.7em;
}
	
.content {
	font-family: Helvetica, Arial, sans-serif;
	background-image: linear-gradient(0deg, black 0%, #444444 50%, black 100%);
	color:MintCream;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 30px;
	padding-bottom: 30px;
}

ul{
  margin-left:50px;
}

.product {
	color:#ffffff;
	list-style-type: square;
}

.type {
	color:#aaaaaa;
}

.level0 {
	margin-left:0px;
}
.level1 {
	margin-left:40px;
	list-style-type: circle;
}
.level2 {
	margin-left:80px;
	list-style-type: circle;
}
.level3 {
	margin-left:120px;
	list-style-type: circle;
}
.level4 {
	margin-left:160px;
	list-style-type: circle;
}
.level5 {
	margin-left:200px;
	list-style-type: circle;
}
.level6 {
	margin-left:240px;
	list-style-type: circle;
}
.level7 {
	margin-left:280px;
	list-style-type: circle;
}
.level8 {
	margin-left:320px;
	list-style-type: circle;
}
.level9 {
	margin-left:360px;
	list-style-type: circle;
}
.level10 {
	margin-left:400px;
	list-style-type: circle;
}

.plevel0 {
	margin-left:0px;
}
.plevel1 {
	margin-left:40px;
}
.plevel2 {
	margin-left:80px;
}
.plevel3 {
	margin-left:120px;
}
.plevel4 {
	margin-left:160px;
}
.plevel5 {
	margin-left:200px;
}
.plevel6 {
	margin-left:240px;
}
.plevel7 {
	margin-left:280px;
}
.plevel8 {
	margin-left:320px;
}
.plevel9 {
	margin-left:360px;
}
.level10 {
	margin-left:400px;
}


#wrapper {
	width: 100%;
}

.imgarea {
	text-align: center;
	color: white;
	max-width:80%;
}

.nav {
	max-width:10%;
	color:white;
	font-size:50px;
	vertical-align:top;
}

.nav input {
	height:50px;
	color:white;
	background-color:transparent;
	border-color:transparent;
	font-size:50px;
	margin-top:30px;
}

.nav a {
	text-decoration:none;
}

.restimg {
	width:100%;
}

